.footer-top {
    background-color: #000;
}

.footer-text-all li>a {
    color: #fff;
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    margin-bottom: 14px;
    transition: all .3s ease 0s;
}

.footer-text-all li>a:hover {
    opacity: 0.7;
}

.footer-text.footer-social>ul {
    margin-top: 22px;
}

.footer-text>h3 {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.footer-social li {
    display: inline-block;
    margin-right: 20px;
}

.footer-social ul li a {
    border: 1px solid #fff;
    border-radius: 100%;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 28px;
    background-color: transparent;
}

.footer-social ul li a:hover {
    border: 1px solid #0151b0;
    background-color: #0151b0;
    color: #fff;
}
.footer-text button.submit {
    background-color: #0151b0;
    border: 1px solid #0151b0;
}
.footer-text button.submit {
    padding: 10px 36px;
}
