.logo {
    margin-top: 16px;
}
.menu-area {
    position: relative;
}

.menu-area nav>ul>li {
    display: inline-block;
}

.menu-area nav>ul>li:last-child {
    padding-right: 0;
}

.menu-area nav>ul>li a {
    color: #555;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 40px 14px;
    display: inline-block;
}

.menu-area nav>ul>li a.none-padding {
    padding: 40px 0px 40px 14px;
}

.menu-area nav>ul>li a i {
    font-size: 16px;
}


/* 3pol header end*/

.menu-area ul li:hover a {
    color: #0151b0;
}

.menu-area ul li:hover ul li a {
    color: #555;
    font-weight: normal;
}

.menu-area ul li:hover ul li a:hover {
    color: #0151b0;
}

.menu-area ul li.active a {
    color: #0151b0;
}

.stick {
    position: fixed;
    z-index: 10;
    background: white;
    width: 100%;
    box-shadow: 0px 2px 5px 0px #e4e4e4;
}